* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &__nav {
        margin: 0;
        padding: 0;
    }

    &__logo {
        background: transparent;
        border: solid orangered 1px;
        border-radius: 50%;

        &:hover {
            border: solid orangered 2px;
            border-radius: 50%;
        }
    }

    &__link {
        text-align: center;
        text-decoration: none;
        color: #ff7300;
        font: 500 1rem "M PLUS 1 Code", sans-serif;

        &:hover {
            color: orangered;
            font: 500 1rem "M PLUS 1 Code", sans-serif;
        }

        &:focus {
            color: orangered;
            font: 500 1rem "M PLUS 1 Code", sans-serif;
        }
    }

    &__button {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        border: solid orangered 3px;

        &:focus {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: center;
            border: solid orangered 3px;
            -webkit-box-shadow: 0 0 0 0.25rem #ffbc00;
            box-shadow: 0 0 0 0.25rem #ffbc00;
            padding: .25rem .75rem;
        }
    }
}