* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

$main-color: #ff7300;
$secondary-color: #ffbc00;
$main-border: 1px solid $main-color;
$font-1: 500 15px 'Roboto', sans-serif;
$font-2: 500 1.8rem 'Roboto', sans-serif;

.text-style {
    &__title {
        font: $font-1;
        color: $main-color;
    }
}

.header {
    &__navbar {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-bottom: solid 2px;
    }

    &__nav {
        margin: 0;
        padding: 0;
    }

    &__logo {
        background: transparent;
        border: solid $main-color 2px;
        border-radius: 50%;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.07);
            border: solid $main-color 2px;
            border-radius: 50%;
        }
    }

    &__link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $main-color;
        font: $font-1;
    }

    &__link.disabled {
        color: rgba(0, 0, 0, .3);
        pointer-events: none;
        cursor: default;
    }


    &:hover {
        color: $main-color;
        font: $font-1;
    }

    &:focus {
        color: $main-color;
        font: $font-1;
    }

    &__button.navbar-toggler {
        background: transparent;
        border: solid $main-color 1.5px;
        border-radius: 20%;

        &:focus {
            border: solid $secondary-color 2px;
            -webkit-box-shadow: 0 0 0 0.25rem $secondary-color;
            box-shadow: $secondary-color .20rem .20rem .20rem 0.10rem;
            padding: .25rem .75rem;
        }
    }
}

.main__titulo {
    text-align: center;
    font: $font-2;
    color: $main-color;
}

.card__container {
    width: 320px;
    border: $main-border;
    border-radius: .5rem;
    transition: transform .5s;

    &:hover {
        transform: scale(1.05);
        border: $main-border;
        -webkit-box-shadow: 0 0 0 0.25rem $secondary-color;
        box-shadow: $secondary-color .20rem .20rem .20rem 0.10rem;
    }
}

.itemDetail {

    &__container {
        border: 3.5px solid $main-color;
        border-radius: 6px;
        font: $font-1;
    }

    &__titulo {
        font: $font-2;
        color: $main-color;
    }
}

.itemCount {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;

    &__btn {
        width: 35px;
    }

    &__number {
        border: #ffbc00 solid 1px;
    }
}